@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lora&display=swap');

body{
    font-family: 'Lora', serif;
    margin: 5% 10%;
}
h1 {
    color:darkolivegreen;
    font-size: 55px;
    font-family: 'Dela Gothic One', cursive;
}
h2{
    font-family: 'Lora', serif;
    font-size: 28px;
}
.journal-page h1{
    color: coral;
}
img {
    width: 80%;
}
.flower-img {
    width: 40%;
}

.post{
    padding-bottom: 5%;
}
a{
    color: slateblue;
}
a:hover{
    color: salmon;
}