@import url('https://use.typekit.net/kvq8bjc.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

/*Colors
purple: #785EA8
lilac: #D0C0EE
green: #8BB814
light green: #D7E9A9
orange: #F66C11
light orange: #FEC5A0
text gray: #363636
*/

h1{
  font-family: 'Tuppence', serif;
  font-size: 65px;
  line-height: 75px;
  color: #363636;
}

h2{
  font-family: 'Tuppence', serif;
  font-size: 50px;
  line-height: 55px;
  font-weight: 300;
  color: #363636;
}

h3{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  color: #363636;
}
/*for nav*/
h4{
font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
  color: #785EA8;
}
/* footer text*/
h5{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: lighter;
}
/*footer copyright*/
h6{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
p, li{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 100;
    color: #363636;
  }

.button {
    background-color: #F66C11;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  .button:hover{
    background-color: #785EA8;
  }

nav {
  width: 100vw;
  border-bottom: 1px solid #363636;
}


/* HOME PAGE */


  nav .pages{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
}
  nav .pages img{
    padding-top: 20px;
  }
  nav .pages .search{
    padding-top: 25px;
  }

.home-page header {
    width: 100vw;
    background-image: url('images/home-grad.png');
  }

  .home-header{
      width: 80%;
      margin: auto;
      margin-top: 4%;
      padding: 35px;
      padding-bottom: 70px;
      display: flex;
    }

  .image-left {
    flex: 1;
    padding-top: 40px;
  }
  .text-right {
    flex: 2;
  }

  .home-header .text-right {
    padding-top: 40px;
    padding-left: 40px;
  }

/*  FEATURE & CAROUSEL */
.feature {
  margin: auto;
  padding-top: 20px;
  margin-bottom: 10%;
}
.feature .text {
  text-align: center;
}

.slide-content img {
  width: 100%;
}
.slick-list {
  height: 500px;
}

.my-slick {
  margin: auto;
  /* margin-left: -30vw; */
}
.slick-initialized .slick-slide {
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.flex-me .right {
  flex: 60%;
  padding-right: 20px;
  margin-top: -2%;
}
.flex-me .right h3{
  margin-bottom: -2%;
}
.flex-me .left {
  flex: 40%;
  padding-left: 55px;
}
.my-slide img {
  width: auto;
}

.my-slide {
  margin: 0 0;
  background-image: url(images/feature-bg.png);
  border-radius: 10px;
  padding: 40px;
}

.slick-slide {
  margin: 50px;
}



.about {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border: 3px solid #8bb814;
  background-color: rgba(215, 233, 160, .5);
  border-radius: 10px;
  margin-bottom: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.about h2 {
  text-align: center;
}

.about-us {
  display: flex;
  
}

.about-us .left,
.right {
  flex: 1;
}

.about-us .right{
  padding-left: 20px;
  padding-top: 35px;
}

.become-member {
  width: 100%;
  background-image: url(images/home-member.png);
  padding-bottom: 40px;
  margin-bottom: 10%;
}
.become-member h2 {
  text-align: center;
  padding-top: 40px;
}

.member-info {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
}

  .member-info .left{
    flex: 1;
  }
  .member-info .right{
    flex: 2;
  }
  .member-info .right{
    padding-left: 50px;
    padding-top: 40px;
  }
  .member-info .right .button{
    margin-top: 4%;
  }

  .member-info .right li{
    margin: 1em 0;
    padding-left: 20px;
    list-style-image: url(images/purple-circle.png);
  }



.newsletter{
  text-align: center;
  background-image: url(images/newsletter-bk.png);
  background-position: 100%;
  margin-bottom: 10%;
}
  .newsletter .register{
    padding: 150px;
  }

  .newsletter .input{
    display: block;
    padding-bottom: 15px;
  }

  .newsletter input[type="text"], input[type="email"] {
    padding: 12px 20px;
    width:50%;
    box-sizing: border-box;
    border: 2px solid #785EA8;
    border-radius: 10px;
  }

  .newsletter input[type=text]:focus, input[type="email"]:focus{
    border: 2px solid #8BB814;
    background-color:rgba(208,192,238,.3);
  }



footer {
  background-color: #785ea8;
}
.footer-content {
  display: flex;
}
.footer-content .hours {
  flex: 2;
}
.footer-content .location,
.links {
  flex: 1;
}
  .footer-content{
    display: flex;
    margin: auto;
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 10px;

  }

  .footer-content .hours, .location, .links{
    flex: 1;
  }

.footer-content li {
  list-style: none;
  color: white;
  font-size:20px
}
  .footer-content .links{
    padding-left: 60px;
  }
  .footer-content .links li{
    padding-bottom: 25px;
  
  }
  .footer-content .links a{
    color: white;
  }

  .footer-content .links a:hover{
    color: #8BB814;
  }

  footer .copyright{
    color: white;
    text-align: center;
    padding-bottom: 5px;
  }


  /* PAINT BOX PAGE */

.paintbox-page header {
    width: 100vw;
    background-image: url('images/paintbox-header.png');
    margin-bottom: 5%;
  }

  .paintbox-header{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    padding: 35px;
    padding-bottom: 70px;
    display: flex;
  }

  .paintbox-header .left{
    flex: 60%;
  }


.border-bottom{
  padding-bottom: 10px;
  border-bottom: 1px solid #363636;

}

  .paintbox-header .right{
    flex: 40%;
    padding-top: 75px;

  }

.paintbox-page .info{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}
  .paintbox-page .info h2{
    text-align: center;
    padding-bottom: 50px;
  }

  .paintbox-page .info-content{
    display: flex;
  }

  .paintbox-page .info-content .left, .right{
    flex: 1;
  }

  .paintbox-page .info-content .left{
    padding-right: 90px;
  }

  .paintbox-page .info-content p{
    padding-bottom: 60px;
  }

  .paintbox-page .info-content img{
    padding-top: 20px;
  }

  .paintbox-page .info-content .right p{
    padding-top: 60px;
  }

  .paintbox-page .info-content .promo{
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    border: 3px solid #D0C0EE;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

 .newsletter-box{
  width: 35%;
  margin: auto;
  text-align: center;
  color: white;
  background-image: url(images/message.png);
  background-position: 90%;
  background-repeat: no-repeat;
  border: 1px solid #D0C0EE;;
  border-radius: 10px;
}

  .newsletter-box h5{
    margin: 10px 0px;
  }


/* EVENTS PAGE*/

.events-page header {
  width: 100vw;
  background-image: url('images/event-bg.png');
  margin-bottom: 5%;
}

  .events-header{
    width: 80%;
    margin: auto;
    margin-top: 4%;
    padding: 35px;
    padding-bottom: 70px;
    display: flex;
  }

  .events-header .left, .right{
    flex: 1;
    padding-top: 40px;
  }

  .events-header .left{
    padding-right: 60px;
  }

  .events-header .right{
    padding-top: 70px;
  }

.events-page .info{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
    .events-page .info h2{
      text-align: center;
      padding-bottom: 50px;
    }
  .events-page .info-content{
  display: flex;
  flex-direction: column;
  }

  .info-content .color{
  color: #785EA8;
  }

  .event-one{
    display: flex;
    margin-bottom: 10%;
  }
  .event-one .left, .right{
    flex: 1;
  }
  .event-one .right{
    margin-top: -8%;
    padding-left: 40px;
  }
  .event-one .right .button{
    margin-top: 5%;
  }

  .info-content .right h3{
    margin-bottom: -10px;
  }

  


  .event-two{
    display: flex;
    margin-bottom: 10%;
  }
  .event-two .left, .right{
    flex: 1;
  }
  .event-two .right{
    margin-top: -8%;
    padding-left: 40px;
  }
  .event-two .right .button{
    margin-top: 2%;
  }




  .event-three{
    display: flex;
    margin-bottom: 10%;
  }
  .event-three .left, .right{
    flex: 1;
  }
  .event-three .right{
    margin-top: -8%;
    padding-left: 40px;
  }

