@font-face{
    font-family: Megar;
    src: url(fonts/Megar.ttf)
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    size: 100%;
}

/* dark gray rgba(51,51,51,1)
    red rgba(213, 130, 116, 1)
    green rgba(155, 190, 96, 1)
    yellow rgba(255, 250, 206, 1)
    light red rgba(238, 206, 200, 1)
    light green rgba(212, 226, 146, 1)
*/
body{
    font-family: Henriette, serif;
    font-size: 24px;
}
h1{
    font-family: Megar, sans-serif;
    font-size: 90px;
}
h2{
    font-family: Henriette, serif;
    font-size: 35px;
    font-weight: 800;
}

header{
    width: 100vw;
    border-bottom: 1px solid rgba(51,51,51,1);
}
header .logo{
    width: 200px;
    height: auto;
}
.home-nav, .home-sub-nav{
    display: flex;
    position: relative;
}

.home-nav{
    width: 80%;
    margin: auto;
}

.home-nav, .left{
    flex: 2;
}

.home-nav, .right{
    flex: 1;
}

.home-nav .right .lacewing{
    transform: scaleX(-1);
}

.home-sub-nav div{
    flex: 1;
}

.home-page .about{
    width: 100vw;
    background-color: rgba(255, 250, 206, 1);
}

.home-page .about article{
    width: 80%;
    margin: auto;
    display: flex;
}

.home-page .about article div{
    margin-top: -55px;
    flex: 1;
}
.about .ladybug-wings{
    margin: auto;
}
footer{
    width: 100%;
    background-color: rgba(255, 250, 206, 1);
    padding-bottom: 80px;
}

footer .footer-content{
    width: 80%;
    margin: auto;
    border-top: 1px solid rgba(51,51,51,1);
}

footer .bottom-nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

footer .bottom-nav li{
    color: rgba(155, 190, 96, 1);
}