@import url('https://use.typekit.net/oja0tul.css');

@font-face {
  font-family: Megar;
  src: url(fonts/Megar.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

/* dark gray rgba(51,51,51,1)
    red rgba(213, 130, 116, 1)
    green rgba(155, 190, 96, 1)
    yellow rgba(255, 250, 206, 1)
    light red rgba(238, 206, 200, 1)
    light green rgba(212, 226, 146, 1)
*/
body {
  font-family: Henriette, serif;
  font-size: 24px;
  color: rgba(51,51,51,1);
}
h1 {
  font-family: Megar, sans-serif;
  font-size: 90px;
  color: rgba(51,51,51,1);
  line-height: 88px;
  font-weight: 300;
}
h2 {
  font-family: Henriette, serif;
  font-size: 35px;
  font-weight: 800;
  color: rgba(51,51,51,1);

}

h3 {
  font-family: Megar, sans-serif;
  font-size: 48px;
  color: rgba(51,51,51,1);
  font-weight: 300;
}

/* mobile menu */

.nav {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 40px;
  right: 4px;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
  /* background: red; */
  padding: 26px;
  border-radius: 50%;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: rgba(213, 130, 116, 1);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: rgba(213, 130, 116, 1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: rgba(238, 206, 200, 1);
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-top: 150px;
  font-family: 'Henriette', sans-serif;
  text-align: center;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: rgba(213, 130, 116, 1);
  height: 70px;
  line-height: 70px;
}
.menu-mobile a:hover {
  color: rgba(255, 250, 206, 1);
}

.menu-mobile {
  display: none;
}

/* end of mobile menu */

/* desktop menu */

@media only screen and (min-width: 768px) {
  /* START of desktop menu for 768 media query */

  .menu-mobile {
    display: none;
  }
  /* END of desktop menu for 768 media query */
}

header {
  width: 100vw;
  border-bottom: 1px solid rgba(51, 51, 51, 1);
}

header .logo {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: auto;
}
.home-nav,
.home-sub-nav {
  display: flex;
  position: relative;
}

.home-nav {
  width: 80%;
  margin: auto;
}

.home-nav .left h1{
  text-align: left;
}

.home-nav,
.left {
  flex: 2;
  text-align: center;
}


.home-nav,
.right {
  flex: 1;
  text-align: center;
}
.home-nav span {
  display: block;
  font-weight: 800;
}
.home-nav .lady-title {
  text-align: right;
  margin-right: 120px;
  margin-top: 50px;
}
.home-nav .worm-title {
  padding-left: 5px;
  margin-top: -100px;
}
.home-nav .left .mantis {
  margin-top: 5%;
  margin-left: -10%;
}
.home-nav .left .worm {
  margin-top: -10%;
  margin-left: 3%;
}

.home-nav .right .ladybug {
  margin-top: 15%;
  margin-left: -25%;

}

.home-nav .right .lacewing {
  margin-top: -5%;
  margin-left: -10%;
}

.home-sub-nav div {
  flex: 1;
}

.home-page .about {
  width: 100vw;
  background-color: rgba(255, 250, 206, 1);
  margin-top: 10%;
}

.home-page .about article {
  width: 80%;
  margin: auto;
  display: flex;
}

.home-page .about article div {
  margin-top: -55px;
  flex: 1;
}
.about .ladybug-wings {
  width: 30%;
  margin: auto;
  text-align: center;
}
footer {
  width: 100%;
  background-color: rgba(255, 250, 206, 1);
  padding-bottom: 80px;
}

footer .footer-content {
  width: 80%;
  margin: auto;
  border-top: 1px solid rgba(51, 51, 51, 1);
}

footer .bottom-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

footer .bottom-nav a:link {
  color: rgba(213, 130, 116, 1);
  text-decoration: none;
}

footer .bottom-nav a:hover {
  color: rgba(155, 190, 96, 1);
}

footer .bottom-nav a:visited {
  color: rgba(155, 190, 96, 1);
}




/* Ladybug Page */

.ladybug-page .about {
  width: 80%;
  margin: auto;
  display: flex;
  padding-bottom: 100px;
}

.ladybug-left .ladybug-right {
  flex: 1;
}
.ladybug-left .lb-target{
  margin-top: 30%;
}
.ladybug-page .about .lb-image{
  scale: 1.5;
  margin-top: -10%;
}

.ladybug-right {
  padding-top: 5%;
  padding-left: 10%;
  margin-bottom: 10%;
}

.ladybug-right .lb-wings{
  margin-top: 30%;
}

.ladybug-page .instructions {
  width: 100vw;
  background-color: rgba(238, 206, 200, 1);
  background-image: url('images/half-ladybug.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 30%;
  padding-top: 50px;
}

.ladybug-page .instructions article {
  width: 65%;
  margin: 0;
}

.ladybug-page .release {
  padding: 150px;
  justify-content: center;
}
.instructions ul {
  list-style: none;
  padding-left: 0;
}

.instructions ul {
  list-style: none;
  padding-left: 0;
}

.ladybug-page footer {
  padding-top: 100px;
  width: 100%;
  padding-bottom: 80px;
  background-color: white;
  justify-content: space-evenly;
}

.ladybug-page .footer-content {
  text-align: center;
}

.ladybug-page .footer-content img {
  display: block;
}




/* Mantis Page */

.mantis-page .about {
  width: 80%;
  margin: auto;
  display: flex;
}

.mantis-page .about .left {
  flex: 1;
  text-align: left;
}

.mantis-page .about .right{
  flex: 2;
  margin-top: 25%;
  margin-left: 5%;
  scale: 1.2;
}
.mantis-page .about-two{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}
.about-two .wings .mantis-target{
  flex: 1;
}
.mantis-target{
  text-align: left;
  margin-left: 20%;
}

.mantis-page .instructions {
  width: 100vw;
  background-color: rgba(212, 226, 146, 1);
  background-image: url('images/mantis-2.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 30%;
  padding-top: 50px;
}

.mantis-page .instructions article {
  width: 65%;
  margin: 0;
}

.mantis-page .release {
  padding: 150px;
  justify-content: center;
}

.mantis-page .instructions ul {
  list-style: none;
  padding-left: 0;
}

.mantis-page footer {
  padding-top: 100px;
  width: 100%;
  padding-bottom: 80px;
  background-color: white;
}

.mantis-page .footer-content {
  text-align: center;
}

.mantis-page .footer-content img {
  display: block;
}

.worm-page .footer-content .small-lb{
  margin-top: -5px;
}






/* Red Worm Page */

.worm-page .about {
  width: 80%;
  margin: auto;
  display: flex;
}

.worm-page .about .left {
  flex: 1;
}

.worm-page .about .right {
  flex: 2;
  text-align: left;
}
.worm-page .instructions {
  width: 100vw;
  background-color: rgba(238, 206, 200, 1);
  background-image: url('images/big-worm.png');
  background-position: 105% 70%;
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 10px;
}
.worm-page .instructions article {
  width: 65%;
  margin: 0;
}

.worm-page .release {
  padding: 150px;
  justify-content: left;
}

.worm-page .instructions ul {
  list-style: none;
  padding-left: 0;
}

.worm-page footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: white;
}

.worm-page .footer-content {
  text-align: center;
}
.worm-page .footer-content img {
  display: block;
}
 
.worm-page .footer-content .small-lb{
  margin-top: -9%;
}

.worm-page .footer-content .small-mantis{
  margin-top: 5%;
}

.worm-page .footer-content .small-lwg{
  margin-top: -2%;
}




/* Lacewing Page */

.lacewing-page .about {
  width: 80%;
  margin: auto;
  display: flex;
}

/*.lacewing-page .about{
  padding-bottom: 5%;
} */

.lacewing-page .about .left{
  flex: 1;
  text-align: left;
}

.lacewing-page .about .right{
  flex: 2;
  margin-top: 25%;
  margin-left: -30%;
  scale: 1.3;
}

.lacewing-page .about-two{
  display: flex;
  padding-top: 5%;
  padding-bottom: 10%;
}

.about-two .lacewing-target .eggs{
  flex: 1;
}

.lacewing-target{
  margin-left: 10%;
}

.lacewing-page .instructions article {
  width: 65%;
  margin: 0;
}

.lacewing-page .instructions {
  width: 100vw;
  background-color: rgba(212, 226, 146, 1);
  background-image: url('images/lacewing-2.png');
  background-position: 110% 20%;
  background-repeat: no-repeat;
  background-size: 80%;
  padding-top: 50px;
}

.lacewing-page .release {
  padding: 150px;
  justify-content: center;
}

.lacewing-page .instructions ul {
  list-style: none;
  padding-left: 0;
}

.lacewing-page footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: white;
}

.lacewing-page .footer-content {
  text-align: center;
}

.lacewing-page .footer-content img {
  display: block;
}
